@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* =======================
   RESET / BASE STYLES
   ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==============================================
    GLOBAL STYLES / LAYOUT / RESPONSIVE
   ============================================== */

html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
  /* max-width: 1300px; */
  width: 100%;
  margin: auto;
  /* padding-top: 90px; */
  /* margin-top: 100px; */
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #080808;
}

section {
  padding: 80px clamp(20px, 6vw, 180px);
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  color: white;
  cursor: pointer;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: 0;
  color: #080808;
}

.intro-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  max-width: 570px;
  width: 100%;
  height: 48px;
  text-align: center;
}

/* =======================
    NAVIGATION
   ======================= */
nav {
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  height: 50px;
  border-radius: 8px;
  width: min(1200px, 85%);
  margin: auto;
  position: fixed;
  top: 0;
  padding: 30px 25px;
  z-index: 1;
}

.navbar-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 24px 95px 28px 95px; */
  /* flex-direction: row; */
  /* max-width: 717px; */
  /* height: 18px; */
  gap: 70px;
}

.navbar-links a {
  color: #9c9c9c;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1%;
}

.social-media-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  align-items: center;
  gap: 10px;
  /* flex-wrap: wrap; */
  /* flex: 1; */
  /* opacity: 30%; */
  /* max-width: 107.54px; */
  /* height: 17px; */
  /* margin: 26px 95.46px 27px 0; */
}
.media-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-icon-box img {
  height: 15px;
}

/* =======================
    HERO SECTION
   ======================= */
.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 920px;
  width: 100%;
  padding-top: 50px;
}

.header-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 30px;
  max-width: 538px;
  width: 100%;
  /* height: 247px; */
  /* margin-left: 180px; */
}

.header-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.header-text h1 {
  /* padding: 10px 0px; */
  /* max-width: 426px; */
  /* width: 100%; */
  /* height: 72px; */
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 44px;
  line-height: 100%;
  letter-spacing: 0;
}

.header-text p {
  /* height: 72px; */
  padding-right: 45px;
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1%;
  line-height: 24px;
  color: #9c9c9c;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 307.89px;
  width: 100%;
  height: 63px;
  background-color: #3f8e00;
  border: 1px solid #62ba1b;
  border-radius: 4px;
  padding: 21px 64px;
  /* box-shadow: ; */
}

.header-button span {
  max-width: 164px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: white;
}

.header-button img {
  width: 5.89px;
  height: 10px;
}

.photo img {
  width: 100%;
  max-width: 350px;
  /* height: 350px; */
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 180px;
}

/* === HERO: TECH SECTION === */

.tech-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
  padding: 0;
  max-width: 1200px;
  width: 100%;
}

.tech-text-box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0;
}

.tech-stack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* max-width: 920px; */
  width: 100%;
  /* height: 60px; */
  /* margin: 20px 180px 45px 180px; */
  gap: clamp(20px, 4vw, 95px);
}

.tech-logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 80px;
  padding: clamp(1.5rem, 2.4vw, 1rem);
  border: 1px solid #1b1b1b;
  object-fit: contain;
  overflow: hidden;
}

.tech-logo-box img {
  max-width: 160px;
  width: 100%;
  height: 60px;
  border-radius: 6px;
  border: 1px #1b1b1b;
  opacity: 50%;
  color: white;
}

/* =======================
   CASE STUDIES 
   ======================= */
.case-studies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(20px, 4vw, 80px);
  background-color: #ffffff;
  /* height: auto; */
}

/* ==== CS BOX ==== */
.cs-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 892px;
  width: 100%;
  /* height: 300px; */
  gap: 32px;
}

.content-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

/* ==== Tags ==== */

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: none;
  max-width: 72px;
  width: 100%;
  height: 24px;
  border-radius: 60px;
  border: none;
  padding: 10px;
  margin-top: 27px;
}
.tags span {
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1%;
}

#tag1 {
  background-color: #fff6e9;
}

#tag1 span {
  color: #ffa217;
}

#tag2 {
  background-color: #d0e6ff;
}

#tag2 span {
  color: #000aff;
}

#tag3 {
  background-color: #e0fff8;
}

#tag3 span {
  color: #2ab090;
}

/* ==== CS TEXT ==== */

.cs-box h2 {
  color: #080808;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
}

.cs-box p {
  color: #9c9c9c;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
}

/* ==== CS BUTTON ==== */
.view-button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 189.9px;
  width: 100%;
  height: 38px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  margin-top: 40px;
}

.view-button span {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.view-button img {
  max-width: 5.89px;
  width: 100%;
  height: 10px;
}

#orange {
  background-color: #ffa217;
}

#blue {
  background-color: #000aff;
}

#green {
  background-color: #2ab090;
}

/* ==== CS IMAGE ==== */
.cs-image-box {
  max-width: 445px;
  width: 100%;
  /* height: 300px; */
}

/* =======================
   TESTIMONIALS
   ======================= */

.testimonials {
  background-color: #080808;
  padding: 80px 180px;
}

.testimonials .title {
  color: white;
}

.testimonials .content-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

/* .quote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 117px;
}

.quote .q1 {
  margin-top: 206px;
  margin-left: 190px;
} */

/* ==== T BOX ==== */
.t-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  width: 445px;
  /* height: 212px; */
  border-radius: 6px;
  border: 1px solid rgba(72, 72, 72, 1);
  gap: 30px;
  padding: 30px 6px 30px 30px;
}

#t-box-1,
#t-box-2 {
  margin-bottom: 62px;
}

.t-box p {
  /* width: 409px;
  height: 72px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
  flex: 1;
}

/* ==== T PHOTO ==== */
.t-photo-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

figcaption {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}

.t-photo-box img {
  max-width: 50px;
  width: 100%;
  height: 50px;
  border-radius: 180px;
  border: none;
}

/* =======================
   RECENT WORK 
   ======================= */

.recent-work {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin: 80px; */
}

.rw-content-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  /* margin: 0 80px; */
}

.rw-content {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 20px;
  max-width: 445px;
  width: 100%;
  /* height: 494px; */
}

.rw-content h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: #080808;
  margin-top: 20px;
}

.rw-content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1%;
  color: #9c9c9c;
}

/* ==== RW PHOTO ==== */
.rw-image-box {
  max-width: 445px;
  width: 100%;
  /* height: 300px; */
}

/* ==== RW BUTTON ==== */

.know-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 139.9px;
  width: 100%;
  height: 38px;
  background-color: #3f8e00;
  border: 1px solid #62ba1b;
  border-radius: 4px;
  padding: 10px 24px;
  gap: 6px;
}

.know-button span {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: white;
}

.know-button img {
  max-width: 5.89px;
  width: 100%;
  height: 10px;
}

/* =======================
   CONTACT
   ======================= */

.contact {
  background-color: #080808;
  margin-bottom: 0;s
}

.contact .section-title h2 {
  color: white;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.input-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-box input,
.input-box textarea {
  font-family: "IBM Plex Mono";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #d8d8d8;
  background-color: #f8f8f8;
  color: #757575;
  border-radius: 4px;
  padding: clamp(12px, 2.5vw, 14px);
  height: auto;
  width: 350px;
}

form label {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  margin-bottom: 5px;
}

.submit-btn {
  max-width: 350px;
  width: 100%;
  height: 50px;
  background-color: #3f8e00;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.submit-btn input {
  font-family: "IBM Plex Mono";
  background-color: #3f8e00;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.submit-btn img {
  height: 10px;
  max-width: 5.89px;
  width: 100%;
}

/* =======================
    FOOTER
   ======================= */

footer {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: monospace;
  font-size: 12px;
  height: 70px;
  padding: 26px 0;
}

/* =======================
   MEDIA QUERIES
   ======================= */
@media (max-width: 1200px) {
  nav {
    width: min(1200px, 92%);
    margin: auto;
  }

  .testimonials {
    padding: 80px;
  }
}

@media (max-width: 992px) {
  nav {
    width: min(1000px, 90%);
    margin: auto;
    gap: 15px;
  }
  .navbar-links ul {
    gap: 35px;
    /* margin: 0 80px; */
  }

  .tech-grid {
    text-align: center;
  }
  .tech-stack {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .cs-box {
    gap: 30px;
  }

  .cs-box p {
    /* flex-direction: column; */
    padding: 0 10px 0 0;
  }

  .testimonials .content-grid {
    margin: 0;
  }

  .rw-content-grid {
    flex-direction: column;
  }
}

/* ==== 768px ===== */
@media (max-width: 768px) {
  .section-title {
    margin-bottom: 40px;
  }

  .title {
    font-size: 30px;
  }

  .header-text h1 {
    font-size: 36px;
  }

  nav {
    flex-direction: column;
    height: auto;
    gap: 15px;
    padding: 15px 0;
    width: min(800px, 100%);
    margin: auto;
  }

  .navbar-links ul {
    gap: 30px;
    flex-wrap: wrap;
    flex: 1;
  }

  .social-media-icons {
    margin: 0;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .tech-logo-box {
    width: 80px;
    height: 60px;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
  }

  .header-text,
  .header-box {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .header-text p {
    padding-right: 0;
    text-align: center;
  }

  .cs-box {
    flex-direction: column;
    text-align: center;
    margin-bottom: 80px;
  }

  .content-grid {
    align-items: center;
  }

  .testimonials .content-grid {
    flex-direction: column;
    /* margin: 0; */
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 26px;
  }

  .header-text h1 {
    font-size: 32px;
  }

  .navbar-links ul {
    gap: 12px;
  }
}
